name: CI

on: [push]

jobs:
  build:

    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Prepare
      run: carthage bootstrap --cache-builds --platform ios
    - name: Build and test
      run: xcodebuild test -scheme Example -destination 'platform=iOS Simulator,name=iPhone XS' | xcpretty
    - name: Report code coverage
      run: bash <(curl -s 'https://codecov.io/bash') -Z -J '^ImageCoordinateSpace$' -X gcov -X fix
